body{

	background-color: #B4AF91;
	text-align: center;

}

input.tire{
	border: 2px;
}

h1 input{
	color: #B4AF91;
	height: 30px;
	width: 150px;
}

input.entree
{
	background-color: #E6E2AF;
	border: 0px;
	margin: 0.5em 5em 0.5em 0em;
}